<!-- Start Footer -->
<div class="spacing-30"></div>
<div class="container zerogrid">
    <div id="footer-container" class="col-full">
        <div class="wrap-col">
            <!-- Footer Copyright -->
            <p>Copyrigh &copy; 2014 <a href="http://bayguzin.ru/">Bayguzin.ru</a> All Rights Reserved.</p>
            <!-- End Footer Copyright -->

            <!-- Footer Logo -->
            <img src="{{ asset('dist/images/footer-logo.png') }}" id="footer-logo"/>
            <!-- End Footer Logo -->

            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- End Footer -->