
<div class="overlay js-popup-register-overlay hidden">

    <div id="js-register-popup" class="authorization-popup">

        <form name="fos_user_registration_form" method="post" action="/app_dev.php/register/" class="fos_user_registration_register">
            <div id="fos_user_registration_form">
                <div>
                    <label for="fos_user_registration_form_email" class="required">Email</label>
                    <input type="email" class="text-input" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required">
                </div>
                <div>
                    <label for="fos_user_registration_form_username" class="required">Username</label>
                    <input type="text" class="text-input" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="180" pattern=".{2,}">
                </div>
                <div>
                    <label for="fos_user_registration_form_plainPassword_first" class="required">Password</label>
                    <input type="password" class="text-input" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required">
                </div>
                <div>
                    <label for="fos_user_registration_form_plainPassword_second" class="required">Confirm Password</label>
                    <input type="password" class="text-input" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required">
                </div>
                <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="MGYqtUiK5JhrfwG49C-FW-_lt6ZtGaeCxO4OhC1neP4">
            </div>
            <div>
                <button type="submit">Register</button>
            </div>
        </form>



    </div>

</div>

